
/* form {
	padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.Form-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.625em;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

input[type="search"] {
  margin-right: 0.9375em;
  width: 18.75em;
  padding: 0.9375em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: groove lightgrey; 
  background-color: #EFD78D;
}

input[type="search"]:focus {
  outline: none;
}

input[type="datetime-local"] {
  padding: 0.4375em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  background-color: #EFD78D;  
}

input[type="datetime-local"]:focus {
  outline: none;
}

form button {
  padding: 0.625em 2.8125em;
  margin-left: 0.625em;
  border-radius: 204px 204px 0px;
  background-color: #CDB958;
} */
/* 
form button:hover {
  background-color: #835743;
  font-weight: bolder;
}

@media screen and (min-width: 360px) and (max-width: 759px) {
  form {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    display: block;
  }
  
  .Form-header {
    font-size: 1.2em;
    padding: 0 0.6875em;
  }


  input[type="search"] {
    width: 23.5em;
    margin-bottom: 0.375em;
  }

  input[type="datetime-local"]{
    width: 14.5em;
}

  form button {
    padding: 0.5em 1.2125em;
  }
} 

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .Form-header {
    font-size: 1.2em;
  }

  form {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }

  input[type="search"] {
    width: 12.5em;
  }

  form button {
    padding: 0.5em 2.2125em;
  }
}  */