.Post{
    color: rgb(72, 99, 136);
   
}
.Post:hover,
.Post:active {
    color: rgb(228, 70, 91);
    cursor: pointer;
    text-decoration: none;
}
a{
    color: black;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}
